@model IEnumerable<DoctorViewModel>
@using DPTS.Web.Models
<div class="tg-view tg-list-view">
    <div class="row">
        @foreach (var item in Model)
        {
            string profilePicPath = "../../Uploads/" + item.Id + "_profile.jpg";
            <article class="tg-doctor-profile user-330">
                <div class="tg-box">
                    <figure class="tg-docprofile-img">
                        <a href="#" class="list-avatar"><img src="@profilePicPath" alt="Dr Steve"></a>
                        <a class="tg-dislike" href="javascript:;"><i class="fa fa-heart"></i></a>                                                                                    <span class="tg-featuredtags">
                            <a class="tg-featured" href="javascript:;">featured</a>
                        </span>
                        <span class="user-verified">
                            <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="74.875" height="21" viewBox="0 0 74.875 21">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #10a64a;
                                        }

                                        .cls-2 {
                                            font-size: 16px;
                                            text-anchor: middle;
                                            font-family: FontAwesome;
                                            text-transform: uppercase;
                                        }

                                        .cls-2, .cls-3 {
                                            fill: #fff;
                                        }

                                        .cls-3 {
                                            font-size: 14.437px;
                                            font-family: Montserrat;
                                        }
                                    </style>
                                </defs>
                                <rect id="BG" class="cls-1" width="74.875" height="21" rx="3" ry="3"></rect>
                                <text id="_" data-name="" class="cls-2" transform="translate(14.829 14.99) scale(0.737 0.762)"></text>
                                <text id="Verified" class="cls-3" transform="translate(22.787 15.191) scale(0.737 0.762)">Verified</text>
                            </svg>

                        </span>
                        <div class="feature-rating user-star-rating">
                            <span class="tg-stars star-rating">
                                <span style="width:80%"></span>
                            </span>

                            <em>4.0<sub>/5</sub></em>
                        </div>
                    </figure>
                    <div class="tg-docprofile-content">

                        <div class="tg-heading-border tg-small">
                            <h3><a href="#">Dr @item.FirstName @item.LastName</a></h3>
                        </div>
                        <div class="tg-description">
                            <p>@item.doctor.ShortProfile </p>
                        </div>
                        <ul class="tg-doccontactinfo">
                                

                                    @{
                                        var addr = item.Addresses.FirstOrDefault();
                                        if (addr != null)
                                        {
                                            <li>

                                                <i class="fa fa-map-marker"></i><address>
                                                    <p>
                                                        @addr.Address1, @addr.City
                                                    </p>
                                                </address>
                                            </li>
                                                if(string.IsNullOrWhiteSpace(addr.FaxNumber))
                                                {
                                                    <li><i class="fa fa-fax"></i><span>@addr.FaxNumber</span></li>
                                                }
                                                if (string.IsNullOrWhiteSpace(addr.Website))
                                                {
                                                    <li><i class="fa fa-link"></i><a href="@addr.Website">@addr.Website</a></li>
                                                }
                                        }
                                    }
                            @if (string.IsNullOrWhiteSpace(item.MobileNumber))
                            {
                                <li><i class="fa fa-phone"></i><span>@item.MobileNumber</span></li>
                            }

                            @if (string.IsNullOrWhiteSpace(item.Email))
                            {
                                <li><i class="fa fa-envelope-o"></i><a href="#">@item.Email</a></li>
                            }
                           
                        </ul>

                    </div>
                </div>
            </article>
           }
    </div>
</div>

