@model DPTS.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div style="margin:0 auto;width:80%">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "tg-form-modal tg-form-signup do-registration-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        <div class="form-group">
            <div class="tg-radiobox user-selection active-user-type active">
                <input type="radio" checked="checked" name="UserType" value="professional" id="professional">
                <label for="professional">Professional</label>
            </div>
            <div class="tg-radiobox user-selection active-user-type visitor-type active">
                <input type="radio" name="UserType" value="visitor" id="visitor">
                <label for="visitor">Visitor</label>
            </div>
        </div>
        <div class="form-group" id="user-role" style="display: none">
            @Html.Label("Select User Type", new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Role, Model.UserRoleList)
                @Html.ValidationMessageFor(model => model.Role,"", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jquery")
<script type='text/javascript'>
    if ($("#professional").is(":checked")) {
        $("#user-role").show();
    }
    $(function () {
        $("input[name='UserType']").click(function () {
            if ($("#professional").is(":checked")) {
                $("#user-role").show();
            } else {
                $("#user-role").hide();
            }
        });
    });
</script>

