@using DPTS.Web.Models
@model DoctorProfileSettingViewModel
@{
    ViewBag.Title = "Profile Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("AccountNavigation")
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
@using (Html.BeginForm("ProfileSetting", "Doctor",
                        new { },
                        FormMethod.Post, new { @class = "tg-formeditprofile tg-haslayout do-account-setitngs" }))
{
    @Html.AntiForgeryToken()
        <fieldset>
            <div class="tg-bordertop tg-haslayout">
                <div class="tg-formsection">
                    <div class="tg-heading-border tg-small">
                        <h3>Basic Information</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName)
                                @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName)
                                @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DateOfBirth)
                                <div class='input-group date'>
                                    @Html.EditorFor(model => model.DateOfBirth, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                  </div>
                                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                                </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender)
                                @Html.DropDownListFor(model => model.Gender, ViewBag.GenderList as IEnumerable<SelectListItem>)
                                @Html.ValidationMessageFor(model => model.Gender)
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber)
                                @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ShortProfile)
                                @Html.TextAreaFor(model => model.ShortProfile, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ShortProfile)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="tg-btn process-account-settings">update</button>
        </fieldset>
}
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(function () {
        $('#DateOfBirth').datetimepicker({
                    format: 'DD/MM/YYYY',
                    viewMode: 'years'
                    });
    });
    var dob = "@Model.DateOfBirth";
    if (dob == "01-01-0001 12:00:00")
    {
        $('#DateOfBirth').val(" ");
    }
</script>

