@using reCaptcha;
@model DPTS.Web.Areas.Admin.Models.JoinUsViewModel

@{
    Layout = "~/Views/Shared/_PromotionLayout.cshtml";
    ViewBag.Title = "Join Us";
}
<div class="container">
    @using (Html.BeginForm("Start", "JoinUs", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "tg-form-modal tg-form-signin do-login-form", role = "form" }))
    {
        <div class="row">
            <div class="col-md-12">

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Gender, new { @class = "form-control", @placeholder = "Gender" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", @placeholder = "Date Of Birth" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number" })
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.ProfessionalStatements, new { @class = "form-control", @placeholder = "About you" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.RegistrationNumber, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.YearsOfExperience, new { @class = "form-control", @placeholder = "Years Of Experience" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Specality, new { @class = "form-control", @placeholder = "Specalities (',' Seperated)" })
                    </div>
                    <div class="domain-captcha">
                        @ReCaptcha.GetHtml(@ViewBag.publicKey)
                        @if (ViewBag.RecaptchaLastErrors != null)
                        {
                            <div>Oops! Invalid Captcha</div>
                        }

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Get Started" class="btn btn-success " />&nbsp;&nbsp;<a href="@Url.Action("Start","JoinUs",new { @area = "Admin" })" class="btn btn-danger ">Clear</a>
                    </div>
                </fieldset>

            </div>

        </div>
    }
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
