@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Manage Roles";
}
<h2>
    <i class="fa fa-cogs"></i> @ViewBag.Title.
</h2>
<div class="row">
    <div>
        <div class="pull-right">
            <a href="@Url.Action("Create", "Role")" class="btn btn-primary"><i class="fa fa-plus"></i> Create Role</a>
            <a href="@Url.Action("SetRoleToUser", "Role")" class="btn btn-primary"><i class="fa fa-arrows-h"></i> Assign Role to User</a>
            <a href="@Url.Action("DeleteRoleOfUser", "Role")" class="btn btn-primary"><i class="fa fa-times"></i> Delete Role of User </a>
        </div>
    </div>
    <br />
    <hr />
    <div class="col-md-12">
        @if (Model != null)
        {
            <table class="table-striped" style="min-width: 100%;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayName(item.Name)
                        </td>
                        <td>
                            <a href="/Role/Edit?RoleName=@item.Name" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
                            <span onclick="return confirm('Are you sure to delete?')">
                                <a href="/Role/Delete?RoleName=@item.Name" class="btn btn-danger"><i class="fa fa-times"></i> Delete</a>
                            </span>
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <h2>No more data to show.</h2>
        }
    </div>
</div>
