<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    @Styles.Render("~/Content/wp-content/themes")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/tagEditor/jquery.tag-editor.css" rel="stylesheet" />

</head>
<body class="home page page-id-2 page-template-default home  sample-page mec-home ">
    @*<div class="preloader-outer">
        <div class="pin"></div>
        <div class="pulse"></div>
    </div>*@
    <div id="wrapper" class="tg-haslayout">
        <header id="header" class="tg-haslayout tg-inner-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tg-navigationarea">
                            <strong class="logo">
                                <a class="" href="@Url.Action("Index","Home")"><img class="" src="~/Content/wp-content/themes/docdirect/images/logo.png" alt="DocDirect"></a>
                            </strong>
                            <nav id="tg-nav" class="tg-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="tg-navigation">
                                    <ul id="menu-main-menu" class="">
                                        <li id="menu-item-654" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-654">
                                            <a href="@Url.Action("Index","Home")">Home</a>
                                            @*<ul class="">
                                                <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-14"><a href="index.html">Home 1</a></li>
                                                <li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="home-2/index.html">Home 2</a></li>
                                                <li id="menu-item-639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-639"><a href="home-3/index.html">Home 3</a></li>
                                            </ul>*@
                                        </li>
                                        <li id="menu-item-333" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-333">
                                            <a href="#">Categories</a>
                                            <ul class="">
                                                <li id="menu-item-334" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-334"><a href="#">Doctors</a></li>
                                                <li id="menu-item-339" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-339"><a href="#">Hospitals</a></li>
                                                <li id="menu-item-338" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-338"><a href="#">Clinics</a></li>
                                                <li id="menu-item-337" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-337"><a href="#">Pharmacies</a></li>
                                                <li id="menu-item-523" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-523"><a href="#">Blood Banks</a></li>
                                                <li id="menu-item-335" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-335"><a href="#">Fitness Centers</a></li>
                                            </ul>
                                        </li>
                                        @*<li id="menu-item-340" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-340">
                                            <a href="#">Listing</a>
                                            <ul class="">
                                                <li id="menu-item-341" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-341"><a href="#">List View</a></li>
                                                <li id="menu-item-342" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-342"><a href="#">Grid View</a></li>
                                                <li id="menu-item-343" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-343"><a href="#">Grid With Left Map</a></li>
                                                <li id="menu-item-344" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-344"><a href="#">List With Left Map</a></li>
                                            </ul>
                                        </li>*@
                                        <li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13">
                                            <a href="#">Blogs</a>
                                            @*<ul class="">
                                                <li id="menu-item-220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220"><a href="#">Blog List</a></li>
                                                <li id="menu-item-219" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219"><a href="#">Blog Grid</a></li>
                                                <li id="menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-224"><a href="#">Detail Blog</a></li>
                                            </ul>*@
                                        </li>
                                        <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="#">Packages</a></li>
                                        <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="@Url.Action("About","Home")">About</a></li>
                                        <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="@Url.Action("Contact","Home")">Contact Us</a></li>

                                    </ul>
                                </div>
                            </nav>
                            @Html.Partial("_LoginPartial")

                        </div>
                    </div>
                </div>
            </div>
        </header>
        @*<main id="main" class="tg-page-wrapper tg-haslayout">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </main>*@
        @RenderBody()

        <footer id="footer" class="tg-haslayout">
            <div class="tg-threecolumn">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="tg-footercol">
                                <div id="address_widget-2" class="address-column tg-widget">
                                    <strong class="logo">
                                        <img src="~/Content/wp-content/uploads/2016/04/logo2.png" alt="logo">
                                    </strong>
                                    <div class="tg-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut laboret dolore magna aliqua.</p>
                                    </div>
                                    <ul class="tg-info">
                                        <li>
                                            <i class="fa fa-home"></i>
                                            <address>123 Eccles Old Road, New Salford Road, East London, Uk, M6 7AF</address>
                                        </li>

                                        <li>
                                            <i class="fa fa-envelope"></i>
                                            <em><a href="#">info@domain.com</a></em>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone"></i>
                                            <em><a href="tel:+4412356788-9">+4412356788-9</a></em>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="tg-footercol">
                                <div id="tg_featured_doctor-2" class="tg-featured-doctore tg-widget">
                                    <div class="tg-heading-border tg-small"><h4>Featured Users</h4></div>			<ul>
                                        <li>
                                            <figure class="tg-imgdoc">
                                                <img src="~/Content/wp-content/themes/docdirect/images/user150x150.jpg" alt="User">
                                                <div class="tg-img-hover">
                                                    <a href="#"><i class="icon-zoom"></i></a>
                                                </div>
                                            </figure>
                                            <div class="tg-docinfo">
                                                <span class="tg-docname"><a href="#">alex alex</a></span>
                                                <span class="tg-stars">
                                                    <em>Ranking:</em>
                                                    <span class="tg-stars star-rating">
                                                        <span style="width:80%"></span>
                                                    </span>
                                                </span>
                                        <li>
                                            <figure class="tg-imgdoc">
                                                <img src="~/Content/wp-content/uploads/2016/04/img-01-1-150x150.jpg" alt="User">
                                                <div class="tg-img-hover">
                                                    <a href="#"><i class="icon-zoom"></i></a>
                                                </div>
                                            </figure>
                                            <div class="tg-docinfo">
                                                <span class="tg-docname"><a href="#">Dr Steve</a></span>
                                                <span class="tg-stars">
                                                    <em>Ranking:</em>
                                                    <span class="tg-stars star-rating">
                                                        <span style="width:80%"></span>
                                                    </span>
                                                </span>
                                                <div class="tg-designation">
                                                    <p><a href="javascript:;">Doctor</a></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="tg-footercol">
                                <div id="nav_menu-2" class="widget_nav_menu tg-widget">
                                    <div class="tg-heading-border tg-small"><h4>USEFUL LINKS</h4></div><div class="menu-userfull-links-container">
                                        <ul id="menu-userfull-links" class="menu">
                                            <li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144"><a href="#">Packages</a></li>
                                            <li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214"><a href="#">Latest Blogs</a></li>
                                            <li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="#">Contact Us</a></li>
                                            <li id="menu-item-450" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-450"><a href="#">Yoga Centers</a></li>
                                            <li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-451"><a href="#">Family clinic</a></li>
                                            <li id="menu-item-628" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-628"><a href="#">Home 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tg-footerbar tg-haslayout">
                <div class="tg-copyrights">
                    <p>2015 All Rights Reserved &copy; DocDirect</p>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.fileupload.js"></script>
    <script src="~/Scripts/tagEditor/jquery.tag-editor.min.js"></script>
    <script src="~/Scripts/tagEditor/jquery.caret.min.js"></script>
</body>
</html>
