<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    @Styles.Render("~/Content/wp-content/themes")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/tagEditor/jquery.tag-editor.css" rel="stylesheet" />
</head>
<body class="home page page-id-2 page-template-default home  sample-page mec-home ">
    @*<div class="preloader-outer">
            <div class="pin"></div>
            <div class="pulse"></div>
        </div>*@
    <div id="wrapper" class="tg-haslayout">
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.fileupload.js"></script>
    <script src="~/Scripts/tagEditor/jquery.tag-editor.min.js"></script>
    <script src="~/Scripts/tagEditor/jquery.caret.min.js"></script>
</body>
</html>
