<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/wp-content/themes")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="home page page-id-2 page-template-default home  sample-page mec-home ">
    @*<div class="preloader-outer">
            <div class="pin"></div>
            <div class="pulse"></div>
        </div>*@
    <div id="wrapper" class="tg-haslayout">
        @Html.Partial("_Header")
        <main id="main" class="tg-page-wrapper tg-haslayout">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </main>
        @Html.Partial("_Footer") 
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*TODO Need to shift to css file*@
    <style>
        .tg-nav ul li {
            float: left;
            padding: 10px 20px;
            position: relative;
            line-height: inherit;
            list-style-type: none;
        }

        .tg-page-wrapper {
            padding: 10px 0px;
        }
    </style>
</body>
</html>
